<div class="row">
  <div class="col-md-11" style="margin-left: 20px">
    <h3 style="margin-top: 20px">List of Blocs</h3>
    <hr>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>idBloc</th>
          <th>nomBloc</th>
          <th>capaciteBloc</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let b of listblocs">
          <td>{{ b.idBloc }}</td>
          <td>{{ b.nomBloc }}</td>
          <td>{{ b.capaciteBloc }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
